html {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    background-color: #eee;
    color: #222;
    margin: 0;
    --red: #F93F26;
    --green: #65B332;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: table;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 0;
    background-color: #FF644F;
    color: white;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2); 
    font-weight: normal;
    font-size: 2em;
}

header > a {
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 1em 0;
    background-color: #333;
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 1.1em) 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, calc(100% - 1.1em) 100%, 0 100%);
    color: var(--red);
}

p.instr {
    margin-bottom: 2em;
    font-size: 0.8em;
    color: #666;
}

p.instr > span.key {
    color: var(--green);
}

p.instr > a {
    color: var(--red);
}

p.footer {
    margin-top: 3em;
    font-size: 0.6em;
    color: #777;
}

p.footer > a {
    color: #f93f26;
}

#radios {
    display: block;
    width: 100%;
}

.radio {
    display: inline-block;
    margin: 1em;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.radio > a {
    display: table-cell;
    margin: 0;
    padding: 1.5em;
    height: 100%;
    color: white;
    cursor: pointer;
    background-color: var(--green);
    box-shadow: 6px 0 10px -4px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.radio > a.animated {
    background-color: #FF644F;
}

.radio > a.slanted {
    padding-right: calc(1.5em + 1.5em);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 1.5em) 100%, 0 100%);
}

.radio > span.info {
    display: table-cell;
    padding: 0;
    font-size: 0.8rem;
}

.radio > span.info.visible {
    padding: 2.2em;
}

.radio > span.info > span.artist {
    font-style: italic;
}
