html {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    background-color: #eee;
    color: #222;
    margin: 0;
    --red: #F93F26;
    --green: #65B332;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: table;
    width: 100%;
    margin: 0 0 2.5rem 0;
    padding: 0;
    background-color: #FF644F;
    color: white;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2); 
    font-weight: normal;
    font-size: 2em;
}

header > a {
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 1em 0;
    background-color: #333;
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 1.1em) 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, calc(100% - 1.1em) 100%, 0 100%);
    color: var(--red);
}

div.instr {
    margin: 2.5rem;
    font-size: 0.8em;
    color: #666;
}

@media all and (min-device-aspect-ratio: 1/1) {
    div.instr {
        display: none;
    }
}

div.instr > table {
    margin: 1em auto;
}

div.instr > table.hide {
    display: none;
}

div.instr > table > tbody > tr > td:first-child {
    text-align: left;
}

div.instr > table > tbody > tr > td:last-child {
    text-align: right;
    padding-left: 2em;
}

span.key,
div.instr > table > tbody > tr > td:last-child {
    color: var(--green);
}

p.footer {
    margin-top: 1.5rem;
    font-size: 0.6em;
    line-height: 2;
    color: #777;
}

p.footer > a {
    color: #f93f26;
}

#radios {
    display: block;
    width: 100%;
}

.radio {
    display: inline-block;
    margin: 1em;
    margin-bottom: 1.5em;
    margin-top: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.radio > a {
    display: table-cell;
    margin: 0;
    padding: 1.5em;
    height: 100%;
    color: white;
    cursor: pointer;
    background-color: var(--green);
}

.radio > a.animated {
    background-color: #FF644F;
}

.radio > a.slanted {
    padding-right: calc(1.5em + 1.5em);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 1.5em) 100%, 0 100%);
}

.radio > span.info {
    display: table-cell;
    padding: 0;
    font-size: 0.8rem;
}

.radio > span.info.visible {
    padding: 2.2em;
}

.radio > span.info > span.artist {
    font-style: italic;
}
